body {
    font-family: sans-serif;
    margin: 5px;
}

.title {
    background-color: gray;
    margin: 0px;
    padding: 0px 10px;
}

.subtitle {
    background-color: rgb(161, 161, 161);
    margin: 0px;
    text-align: right;
    padding: 0px 10px;
    border-bottom: 5px dashed gray;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* flex-direction: row; */
    /* width: 750px; */
    /* height: 571px; */
}

.col {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 3px dashed rgb(75, 75, 75);
    border-right: 3px dashed rgb(75, 75, 75);
    padding: 0px 10px;
    width: 230px;
    margin: 10px
}

.colheader {
    text-transform: uppercase;
    text-align: center;
    background-color: lightgray;
    margin: 0px;
    padding: 10px 0px;
}

.box {
    border: 1px solid black;
    margin: 5px;
}

.boxheader {
    background-color: lightgray;
    text-align: right;
    color: white;
    margin: 0px;
    padding: 0px 10px;
}

.boxtext {
    padding: 10px;
}