.container {
    margin: auto;
    /* display: flex; */
    background-image: url("./panteon.jpg");
    width: 722px;
    height: 480px;
    overflow: hidden;
    /* flex-direction: row; */
}

.row {
    display: flex;
    /* border: 2px solid black; */
    margin-top: 200px;
    justify-content: center;
    gap: 68px;
}

.col {
    /* border: 2px solid black; */
    /* padding: 0px 10px; */
    width: 70px;
    height: 186px;
    overflow: auto;
}